  /*---------------------------------------------*/
  input {
  	outline: none;
  	border: none;
  }

  input:focus::-webkit-input-placeholder {
  	color: transparent;
  }

  input:focus:-moz-placeholder {
  	color: transparent;
  }

  input:focus::-moz-placeholder {
  	color: transparent;
  }

  input:focus:-ms-input-placeholder {
  	color: transparent;
  }


  input::-webkit-input-placeholder {
  	color: #acacac;
  }

  input:-moz-placeholder {
  	color: #acacac;
  }

  input::-moz-placeholder {
  	color: #acacac;
  }

  input:-ms-input-placeholder {
  	color: #acacac;
  }


  .wrap-input100 {
  	position: relative;
  	width: 100%;
  	z-index: 1;
  }

  .input100 {
  	font-size: 18px;
  	line-height: 1.2;
  	color: #686868;
  	display: block;
  	width: 100%;
  	background: #e6e6e6;
  	height: 62px;
  	border-radius: 3px;
  	padding: 0 30px 0 65px;
  }

  .focus-input100 {
  	display: block;
  	position: absolute;
  	border-radius: 3px;
  	bottom: 0;
  	left: 0;
  	z-index: -1;
  	width: 100%;
  	height: 100%;
  	box-shadow: 0px 0px 0px 0px;
  	color: rgba(0, 98, 204, 0.6);
  }

  .input100:focus+.focus-input100 {
  	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  	animation: anim-shadow 0.5s ease-in-out forwards;
  }

  @-webkit-keyframes anim-shadow {
  	to {
  		box-shadow: 0px 0px 60px 20px;
  		opacity: 0;
  	}
  }

  @keyframes anim-shadow {
  	to {
  		box-shadow: 0px 0px 60px 20px;
  		opacity: 0;
  	}
  }

  .symbol-input100 {
  	font-size: 24px;
  	color: #999999;

  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	align-items: center;
  	position: absolute;
  	border-radius: 25px;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	padding-left: 23px;
  	pointer-events: none;

  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
  }

  .input100:focus+.focus-input100+.symbol-input100 {
  	color: #0062cc;
  	padding-left: 18px;
  }

  .input-checkbox100 {
  	display: none;
  }

  .label-checkbox100 {
  	font-family: Raleway-Regular;
  	font-size: 16px;
  	color: #999999;
  	line-height: 1.2;

  	display: block;
  	position: relative;
  	padding-left: 26px;
  	cursor: pointer;
  }

  .label-checkbox100::before {
  	content: "\f00c";
  	font-family: FontAwesome;
  	font-size: 13px;
  	color: transparent;

  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: absolute;
  	width: 18px;
  	height: 18px;
  	border-radius: 3px;
  	background: #fff;
  	border: 2px solid #0062cc;
  	left: 0;
  	top: 48%;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
  }

  .input-checkbox100:checked+.label-checkbox100::before {
  	color: #0062cc;
  }

  .btn-login:hover {
	background: #333333 !important;
  }

  .register-link:hover{
	color: #0062cc !important;
  }
